h2 {
  margin-bottom: 0px !important;
}

table {
  width: 100%;
}
.assignment-sec {
  width: 100;
  padding: 40px 80px;
  border: 5px solid #000000;
}
.dashboard-round-chart {
  width: 100%;
  padding: 20px 40px;
  border: 5px solid #000000;
  height: 100%;
}
.assignment-sec-container{
  margin-bottom: 30px !important;
}
.row{
  margin: 0px !important;
}
.percentage-sec{
  padding: 40px 40px;
  border: 5px solid #000000;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}
.percentage-sec h2{
  align-items: center;
  align-content: center;
  text-align: center;
}
.percentage-sec h2 img {
  width: 20px;
  height: 30px;
  margin-left: 15px;
}
.user-sec{
  border: 5px solid #000000;
  display: flex;
  align-content: center;
  align-items: center;

}
.user-sec-img {
  width: 40%;
  border-right: 5px solid #000000;
}
.user-sec-img-con{
  padding: 40px 40px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.user-details-sec{
  padding: 20px 40px;
}
.user-details-sec span {
  display: block;
  margin-bottom: 10px;
}
.user-details-sec span:last-child {
  margin-bottom: 0px;
}
table.mat-table {
  border: 5px solid #000000;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
th.mat-header-cell {
  text-align: left;
  border: 5px solid #000;
  padding: 20px 20px !important;
}
.mat-cell {
  border: 5px solid #000;
  padding: 20px 20px !important;
}

@media screen and (max-width: 991px){
  .mgb0{
    margin-top: 30px;
  }
  .pad0{
    padding: 0px !important;
  }
  .assignment-sec {
    padding: 40px 15px;
  }
}

@media screen and (max-width: 767px){
  .user-sec {
    display: block;
  }
  .user-sec-img{
    width: 100%;
    border-right: none;
    border-bottom: 5px solid #000000;
  }
  .user-details-sec{
    padding: 20px 10px !important;
  }
  th.mat-header-cell {
    padding: 10px 10px !important;
  }
  .mat-cell {
    padding: 10px 10px !important;
  }
  .dashboard-round-chart{
    padding: 10px 20px;
    padding-top: 0px;
}
}
